
$txt-primary: rgba(28, 54, 83, 0.6);
$txt-secondary: #3D4351;
$txt-light: #fff;
$txt-accent: #ACB1B4;
$form-placeholder: #BCC1C3;

$accent-color: #19B5FE;
$accent-color-hover: #1E8BC3;

$white-color: #fff;
$black-color: #000;
$h2-color: #3D4351;
$h3-color: #3D4351;
$h5-color: #3D4351;
$section-light: #fff;
$section-dark: #F3F4F8;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;